*{
	margin : 0px;
	padding : 0;
	box-sizing: border-box;
}

body{
	font-family: calibri;
}

.parent {
	position: fixed;
	top: 0;
	left: 0;
	height: 170px;
	margin: auto;
	width: 100%;
	background-color:#fb4454;
  }
.header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 0px;
	margin-bottom: 10px;
}
.header img{
	width: 100px;
}
.logo{
	display: flex;
	align-items: center;
	/* border: 1px solid black; */
	width:100%;
	flex-direction: row;
	/* padding-left: 10px; */
	/* justify-content: flex-start; */
}
.logo h1{
	font-size: 25px;
	margin-left: 20px;
	opacity: .78;
	color:#fbf8fd;
}
.navigation{
	display: flex;
	justify-content: space-around;
	width:100%;
	/* border: 1px solid black; */
	flex-direction: row;
}
.nav-item{
	display: flex;
	/* border: 1px solid green; */
	
}
.nav-item a{
	text-decoration: none;
	color: #fbf8fd;
	opacity: .78;
}
.main{
	display: flex;
	justify-content: space-between;
	padding: 0px;
	/* padding-top: 200px; */
	margin-top: 170px;
	height: 1000px;
	width: 100%;
	/* border: 1px solid black; */
	background-color: #d3d3d3;
	/* background-image: url(images/mobile-back-2.jpg); */
	background-repeat: no-repeat;
	background-size: contain;
	flex-direction: column;

}
#index-main{
	background-image: url(images/mobile-back-2.jpg);
}
.float-text{
	display:flex;
	align-self: center;
	text-align: center;
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 50px;
	/* justify-content: space-around; */
	/* border: 1px solid green; */
	/* height:500px; */
	background-color: rgb(251, 68, 84, .6);
	color: #fff;
}
.container{
	display:flex;
	align-self: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	/* justify-content: space-around; */
	/* border: 1px solid green; */
	height:550px;
	background-color: #d3d3d3;
	opacity: 1;
	color: #fbf8fd;
}
.home-nav{
	display:flex;
	align-self: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	/* justify-content: space-around; */
	/* border: 1px solid green; */
	height: 100%;
}
.container-item{
	display: flex;
	border: 2px solid black;
	background-color: #fb4454;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin-top: 30px;
	width:225px;
	height:225px;

}
.container a{
	text-decoration: none;
	color: #fbf8fd;
}
.container a :active{
	background-color:darkred;
}

/* INDEX */
.container-item p{
	padding: 10px;
	text-align: center;
}
#last-container{
	margin-bottom: 30px;
}

/* MAPS */
#map-container{
	justify-content: space-between;
	border: 1px solid green;
	height: 1350px;
}
.map-nav{
	display: flex;
	width: 90%;
	justify-content: center;
	/* align-items: flex-start; */
	align-content: flex-start;
	flex-wrap: wrap;
	margin-top: 15px;
	margin-left: 1px;
	height: 180px;
	/* border: 1px solid blue; */
}
.map-nav-item{
	width: 48%;
	display: flex;
	margin-right: 5px;
	margin-bottom: 5px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-size: 15px;
	height: 20%;
	background-color: rgb(251, 68, 84, .75);
	color:#fbf8fd;
	/* margin-right: 20px; */
	
}
.map-main{
	display: flex;
	width:90%;
	flex-direction: column;
	color: #3d3d3d;
	border:1px solid black;
	height: 1000px;
	margin-bottom: 100px;
}
.map-main img{
	width: 250px;
	height: 125px;

}
.map-img{
	width: 50px;
}

/* AGENTS */
#agent-div-main{
	height:950px;
}
#agent-container{
	/* border: 1px solid black; */
	justify-content: space-between;
	height: 870px;
}
.agent-nav{
	display: flex;
	margin-top:20px;
	width:100%;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	/* border: 1px solid green; */
	height:300px;
}
.agent-nav-item{
	display:flex;
	border:1px solid black;
	justify-content: center;
	padding: 5px;
	background-color: rgb(251, 68, 84, 1);
	font-size: 15px;
	color: #fbf8fd;
	border-radius: 5px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 15px;
	width:25%;
	height:10%;
}
.agent-main{
	display: flex;
	width:100%;
	flex-direction: column;
	margin-top: 30px;
	/* justify-content: center; */
	/* align-items: center; */
	color: black;
	/* border: 1px solid blue; */
	height: 300px;
}
.agent-main img{
	width: 300px;
	height: 300px;
}
.agent-name{
	display: flex;
	justify-content: flex-start;
	/* border: 1px solid black; */
	border-radius: 5px;
	padding: 5px;
	/* margin-left: 45px; */
	background-color: rgb(251, 68, 84, .3);
	width:100%;
}
.agent-name h3{
	font-size: 35px;
}
.agent-title{
	display: flex;
	margin-left: 55px;
	margin-right:20px;
}
.agent-role{
	display: flex;
	align-self:center;
	/* border: 1px solid black; */
}
.agent-role img{
	width:30px;
	height:30px;
}
.agent-image{
	display: flex;
	align-self: center;

}
.agent-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	/* border: 1px solid black; */
}
.agent-ability{
	margin-top: 5px;
	justify-content: center;
	display: flex;
	flex-direction: row;
	width: 70%;
}
.agent-ability-item{
	display: flex;
	width: 70px;
	height:150px;
	padding: 10px;
	margin-right: 5px;
	font-size: 11px;
	flex-wrap: wrap;
	justify-content:center ;
	text-align: center;
	background-color:rgb(131,131,131,.4);
	border: 1px solid black;
	border-radius: 5px;

}
.agent-ability-item img{
	width: 40px;
	height: 40px;
}

/* GUNS */
.gun-main{
	display: flex;
	justify-content: center;
	margin-top: 0px;
	height: 1000px;
	flex-wrap: wrap;
	/* border: 1px solid green; */
}
.gun-header{
	display: flex;
	width: 100%;
	justify-content: center;
	color:#3d3d3d;
	margin-bottom: 30px;
}
#gun-main-size{
	height: 1550px;
}
#gun-container{
	height: 1100px;
}

.gun-item{
	display: flex;
	border: 1px solid red;
	border-radius: 10px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	width: 45%;
	height: 150px;
	flex-direction: column;
}
.gun-name{
	display: flex;
	align-self: center;
	color:#3d3d3d;
}
.gun-name h3{
	/* font-size: 22px; */
	font-style: none;
}
.gun-image{
	display:flex;
	width: 140px;
}
.gun-image-small{
	display:flex;
	width: 90px;
}






.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	margin: auto;
	width: 100%;
	background-color:#fb4454;
}
.footer a{
	text-decoration: none;
	font-size: 20px;
	color: #fbf8fd;
	opacity: .8;
}


@media (min-width: 768px) {
	.main{
		height: 1200px;
		justify-content: space-between;
	}
	#index-main{
		background-image: url(images/valorant-back.jpg);
		height: 900px;
	}
	.header{
		justify-content: center;
	}
	.header img{
		margin-left: 75px;
	}
	.logo h1{
		font-size: 35px;
		margin-left: 40px;
	}
	.float-text{
		width: 45%;
		font-size: 20px;
	}
	.container{
		flex-direction: row;
		flex-wrap: wrap;
		height: 450px;
	}
	.container-item{
		margin-bottom: 0px;
		margin-right: 20px;
	}
	#last-container{
		margin-bottom: 0px;
		margin-right: 0px;
	}
	.home-nav{
		flex-direction: row;
	}
	#agent-div-main{
		height: 1100px;
	}
	.agent-main{
		margin-bottom: 250px;
	}
	.agent-ability-item{
		width: 120px;
		margin-right: 25px;
		font-size: 18px;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
	}
	.agent-nav-item{
		font-size: 18px;
		width: 35%;
	}
	.gun-image img{
		width: 200px;
		/* height: 40px; */
	}
	.gun-image-small img{
		width: 120px;
		/* height: 40px; */
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px){
	.main{
		height: 1500px;
	}
	#index-main{
		background-image: url(images/valorant-back.jpg);
	}
	.header{
		justify-content: center;
	}
	.header img{
		margin-left: 200px;
	}
	.logo h1{
		font-size: 35px;
		margin-left: 50px;
	}
	.agent-title{
		margin-left: 130px;
		margin-right:20px;
	}
	.gun-image img{
		width: 250px;
		/* height: 40px; */
	}
	.gun-image-small img{
		width: 150px;
		/* height: 40px; */
	}
}